In [1]:
import pymongo

In [1]:
from pymongo import MongoClient

In [2]:
#Connect with the portnumber and the host
client=MongoClient('mongodb://127.0.0.1:27017/')

In [4]:
client.list_database_names()

['admin',
 'config',
 'data',
 'databasee',
 'employee',
 'groceries',
 'local',
 'new',
 'student']

In [4]:
db=client['groceries']

In [5]:
db.list_collection_names()

['inventory', 'invemtory']

In [66]:
inv=db['inventory']

In [20]:
inv.count_documents({})

3

In [24]:
inv

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'groceries'), 'inventory')

In [28]:
db=client['data']

In [41]:
db.ma

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'data'), 'ma')

In [39]:
db.col.insert_one({'1doc':'its value'})

In [43]:
db.tb.insert_one({'1doc':'its value'})

In [44]:
db.list_collection_names()

['tb', 'empinfo', 'col']

In [46]:
t=db['tb']

In [50]:
t.count_documents({'1doc':'its value'})

3

In [52]:
db=client['employee']

In [54]:
db.list_collection_names()

['names']

In [57]:
s=db['names']

In [59]:
s.count_documents({})

0

In [61]:
db=client['new']

In [6]:
db.inventory.count_documents({})

3

In [7]:
db.inventory.find_one()

{'_id': ObjectId('63d91770dab3a4f479c43ca1'),
 'item': 'journal',
 'qty': 25,
 'tags': ['blank', 'red'],
 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}

In [8]:
for i in db.inventory.find():
    print(i)

{'_id': ObjectId('63d91770dab3a4f479c43ca1'), 'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}
{'_id': ObjectId('63d91770dab3a4f479c43ca2'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'_id': ObjectId('63d91770dab3a4f479c43ca3'), 'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue'], 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}}

In [9]:
for i in db.inventory.find({'tags':'gel'}):
    print(i)

{'_id': ObjectId('63d91770dab3a4f479c43ca3'), 'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue'], 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}}

In [89]:
for i in db.inventory.find().limit(2):
    print(i)

{'_id': ObjectId('63d91770dab3a4f479c43ca1'), 'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}
{'_id': ObjectId('63d91770dab3a4f479c43ca2'), 'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}

In [12]:
for i in db.inventory.find({},{'_id':0,'item':1,'qty':1}):
    print(i)

{'item': 'journal', 'qty': 25}
{'item': 'mat', 'qty': 85}
{'item': 'mousepad', 'qty': 25}

In [99]:
db.inventory[1] # not possible like we access an array, but all the documents in a collection represent like array THOUGHT

Collection(Database(MongoClient(host=['127.0.0.1:27017'], document_class=dict, tz_aware=False, connect=True), 'groceries'), 'inventory.1')

In [9]:
db=client['employee']

In [11]:
db.list_collection_names()

['names']

In [14]:
db.names.insert_one({'first':'ram','last':'kumar','age':27,'dept':'EEE'})

In [17]:
f=db.names.find_one()

In [19]:
print(f)

{'_id': ObjectId('63da5ae7d55ab6ae54dfc4bd'), 'first': 'ram', 'last': 'kumar', 'age': 27, 'dept': 'EEE'}

In [22]:
for i in db.names.find({},{'_id':0}):
    print(i)

{'first': 'ram', 'last': 'kumar', 'age': 27, 'dept': 'EEE'}
{'first': 'ram', 'last': 'kumar', 'age': 27, 'dept': 'EEE'}

In [36]:
record=[
    {'first':'rahul','last':'kumar','age':43,'dept':'CIV'},
    {'first':'sumath','last':'kumar','age':29,'dept':'ECE'},
    {'first':'venkatesh','last':'santhosh','age':27,'dept':'IT'},
    {'first':'ram','last':'mohan','age':37,'dept':'MEC'}
]

In [37]:
db.names.insert_many(record)

In [38]:
for i in db.names.find({},{'_id':0}): #the first parenthesis is for getting all the data and second is for specifing 
    print(i)

{'first': 'ram', 'last': 'kumar', 'age': 27, 'dept': 'EEE'}
{'first': 'ram', 'last': 'kumar', 'age': 27, 'dept': 'EEE'}
{'first': 'mohan', 'last': 'kumar', 'age': 27, 'dept': 'EEE'}
{'first': 'rahul', 'last': 'kumar', 'age': 24, 'dept': 'ECE'}
{'first': 'ram', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'rahul', 'last': 'kumar', 'age': 43, 'dept': 'CIV'}
{'first': 'sumath', 'last': 'kumar', 'age': 29, 'dept': 'ECE'}
{'first': 'venkatesh', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'ram', 'last': 'mohan', 'age': 37, 'dept': 'MEC'}

In [35]:
#equality condition just like where
for i in db.names.find({'last':'kumar'}): #here in first parenthesis we are specific abt the filter
    print(i)

{'_id': ObjectId('63da5ae7d55ab6ae54dfc4bd'), 'first': 'ram', 'last': 'kumar', 'age': 27, 'dept': 'EEE'}
{'_id': ObjectId('63da5aebd55ab6ae54dfc4be'), 'first': 'ram', 'last': 'kumar', 'age': 27, 'dept': 'EEE'}
{'_id': ObjectId('63da5bc6d55ab6ae54dfc4bf'), 'first': 'mohan', 'last': 'kumar', 'age': 27, 'dept': 'EEE'}
{'_id': ObjectId('63da5bc6d55ab6ae54dfc4c0'), 'first': 'rahul', 'last': 'kumar', 'age': 24, 'dept': 'ECE'}

In [41]:
#query documnents using query operators($lt,$gt,$in)
for i in db.names.find({'dept':{'$in':['IT','MEC','ECE']}},{'_id':0}):
    print(i)

{'first': 'rahul', 'last': 'kumar', 'age': 24, 'dept': 'ECE'}
{'first': 'ram', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'sumath', 'last': 'kumar', 'age': 29, 'dept': 'ECE'}
{'first': 'venkatesh', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'ram', 'last': 'mohan', 'age': 37, 'dept': 'MEC'}

In [43]:
for i in db.names.find({'dept':{'$in':['IT','MEC','ECE']},'age':{'$lt':30}},{'_id':0}):
    print(i)

{'first': 'rahul', 'last': 'kumar', 'age': 24, 'dept': 'ECE'}
{'first': 'ram', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'sumath', 'last': 'kumar', 'age': 29, 'dept': 'ECE'}
{'first': 'venkatesh', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}

In [44]:
for i in db.names.find({'dept':{'$in':['IT','MEC','ECE']},'age':{'$gt':25}},{'_id':0}):
    print(i)

{'first': 'ram', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'sumath', 'last': 'kumar', 'age': 29, 'dept': 'ECE'}
{'first': 'venkatesh', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'ram', 'last': 'mohan', 'age': 37, 'dept': 'MEC'}

In [53]:
for i in db.names.find({'$or':[{'last':'santhosh'},{'dept':'MEC'}]},{'_id':0}):
    print(i)

{'first': 'ram', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'venkatesh', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'ram', 'last': 'mohan', 'age': 37, 'dept': 'MEC'}

In [54]:
for i in db.names.find({'$or':[{'last':'santhosh'},{'dept':'MEC'}],'age':{'$gt':30}},{'_id':0}):
    print(i)

{'first': 'ram', 'last': 'mohan', 'age': 37, 'dept': 'MEC'}

In [60]:
for i in db.names.find({'$and':[{'last':'santhosh'},{'dept':'IT'}],'age':{'$lt':30}},{'_id':0}):
    print(i)

{'first': 'ram', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}
{'first': 'venkatesh', 'last': 'santhosh', 'age': 27, 'dept': 'IT'}

In [63]:
db=client['groceries']
db.list_collection_names()

['inventory', 'invemtory']

In [65]:
db.inventory.insert_many( [
   { 'item': "journal", 'qty': 25, 'size': { 'h': 14, 'w': 21,'uom': "cm" }, 'status': "A" },
   { 'item': "notebook", 'qty': 50,'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "A" },
   { 'item': "paper", 'qty': 100, 'size': { 'h': 8.5, 'w': 11,'uom': "in" },'status': "D" },
   { 'item': "planner", 'qty': 75, 'size': { 'h': 22.85,'w': 30,'uom': "cm" },'status': "D" },
   { 'item': "postcard", 'qty': 45, 'size': { 'h': 10, 'w': 15.25,'uom': "cm" },'status': "A" }
]);

In [70]:
for i in db.inventory.find({},{'_id':0}):
    print(i)

{'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}
{'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue'], 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}}
{'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}, 'status': 'D'}
{'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [81]:
for i in db.inventory.find({'size': { 'h': 22.85,'w': 30,'uom': "cm" }},{'_id':0,'status':0,'qty':0}):
    print(i)

{'item': 'planner', 'size': {'h': 22.85, 'w': 30, 'uom': 'cm'}}

In [88]:
db.inventory.count_documents({})

8

### Updating document

In [104]:
db.inventory.update_one({'item':'planner'},
                        {'$set':{'size.uom':'km','status':'K'},
                         '$currentDate':{'latestmodification':True}})

In [105]:
for i in db.inventory.find({},{'_id':0}):
    print(i)

{'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}
{'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue'], 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}}
{'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'km'}, 'status': 'K', 'latestmodification': datetime.datetime(2023, 2, 1, 14, 19, 50, 114000)}
{'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [5]:
client.list_database_names()

['admin',
 'config',
 'data',
 'databasee',
 'employee',
 'groceries',
 'local',
 'new',
 'student']

In [14]:
db=client['groceries']
db.list_collection_names()

['inventory', 'invemtory']

In [15]:
inv=db.inventory

In [10]:
inv.find_one()

{'_id': ObjectId('63d91770dab3a4f479c43ca1'),
 'item': 'journal',
 'qty': 25,
 'tags': ['blank', 'red'],
 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}

In [11]:
for i in inv.find({},{'_id':0}):
    print(i)

{'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'cm'}}
{'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue'], 'size': {'h': 19, 'w': 22.85, 'uom': 'cm'}}
{'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'cm'}, 'status': 'A'}
{'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'km'}, 'status': 'K', 'latestmodification': datetime.datetime(2023, 2, 1, 14, 19, 50, 114000)}
{'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'cm'}, 'status': 'A'}

In [19]:
inv.update_many(
    {'qty':{'$lt':50}},
    {'$set':{'size.uom':'in','status':'P'},
    '$currentDate':{'LatestModified':True} 
    }
    

)

In [15]:
for i in inv.find({},{'_id':0}):
    print(i)

{'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'LatestModified': datetime.datetime(2023, 2, 2, 12, 16, 10, 78000), 'status': 'P'}
{'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue'], 'size': {'h': 19, 'w': 22.85, 'uom': 'in'}, 'LatestModified': datetime.datetime(2023, 2, 2, 12, 16, 10, 78000), 'status': 'P'}
{'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'LatestModified': datetime.datetime(2023, 2, 2, 12, 16, 10, 78000)}
{'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'item': 'paper', 'qty': 100, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'D'}
{'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'km'}, 'status': 'K', 'latestmodification': datetime.datetime(2023, 2, 1, 14, 19, 50, 114000)}
{'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'LatestModified': datetime.datetime(2023, 2, 2, 12, 16, 10, 78000)}

In [23]:
inv.update_many(
    {'tags':'gel'},
    {'$set':{'size.uom':'in','status':'BB'},
    '$currentDate':{'LatestModified':True} 
    })

In [26]:
for i in inv.find({},{'_id':0,'tags':1}):
    print(i)

{'tags': ['blank', 'red']}
{'tags': ['gray']}
{'tags': ['gel', 'blue']}
{}
{}
{}
{}
{}

### Replace records
##### the entire document will be replaced here

In [31]:
for i in inv.find({'item':'paper'},{'_id':0}):
    print(i)

{'item': 'paper', 'instock': [{'warehouse': 'B', 'qty': 35}]}

In [32]:
inv.replace_one(
		{'item':'paper'},
    	{'item':'paper','instock':[{'warehouse':'A','qty':55,'warehouse':'B','qty':35}]}

)

#### Aggerating and grouping

In [4]:
db= client['Students']

In [36]:
# Access collection of the database  
score=db['studentscores']  
data = [ 
    {"user":"Krish", "subject":"Database", "score":80}, 
    {"user":"Amit",  "subject":"JavaScript", "score":90}, 
    {"user":"Amit",  "title":"Database", "score":85}, 
    {"user":"Krish",  "title":"JavaScript", "score":75}, 
    {"user":"Amit",  "title":"Data Science", "score":60},
    {"user":"Krish",  "title":"Data Science", "score":95}] 
  
db.score.insert_many(data)

In [5]:
sc=db.score

In [6]:
sc.find_one()

{'_id': ObjectId('63dbb2f9c05a9d2b55b33a1b'),
 'user': 'Krish',
 'subject': 'Database',
 'score': 80}

In [49]:
tot=sc.aggregate(
				[
                    {'$group':{'_id':'$score','total':{'$sum':1}}
         
                    }
                ]
)

In [7]:
tot=sc.aggregate(
				[
                    {'$group':{'_id':'$user','total':{'$sum':1}}
         
                    }
                ]
)

In [8]:
for i in tot:
    print(i)

{'_id': 'Amit', 'total': 3}
{'_id': 'Krish', 'total': 3}

In [9]:
sc.update_many({},{'$rename':{'title':'subject'}})

In [10]:
for i in sc.find({},{'_id':0}):
    print(i)

{'user': 'Krish', 'subject': 'Database', 'score': 80}
{'user': 'Amit', 'subject': 'JavaScript', 'score': 90}
{'user': 'Amit', 'score': 85, 'subject': 'Database'}
{'user': 'Krish', 'score': 75, 'subject': 'JavaScript'}
{'user': 'Amit', 'score': 60, 'subject': 'Data Science'}
{'user': 'Krish', 'score': 95, 'subject': 'Data Science'}

In [12]:
tot=sc.aggregate(
				[
                    {'$group':{'_id':'$subject','total':{'$sum':1}}
         
                    }
                ]
)

In [13]:
for i in tot:
    print(i)

{'_id': 'Data Science', 'total': 2}
{'_id': 'Database', 'total': 2}
{'_id': 'JavaScript', 'total': 2}

In [29]:
invgr= inv.aggregate([
    {'$group':{'_id':'$status','total':{'$sum':1}}}
])

In [30]:
for i in invgr:
    print(i)

{'_id': 'BB', 'total': 2}
{'_id': 'P', 'total': 3}
{'_id': None, 'total': 2}
{'_id': 'A', 'total': 1}

In [26]:
for i in inv.find({},{'_id':0}):
    print(i)

{'item': 'journal', 'qty': 25, 'tags': ['blank', 'red'], 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'LatestModified': datetime.datetime(2023, 2, 2, 12, 20, 8, 559000), 'status': 'P'}
{'item': 'mat', 'qty': 85, 'tags': ['gray'], 'size': {'h': 27.9, 'w': 35.5, 'uom': 'cm'}}
{'item': 'mousepad', 'qty': 25, 'tags': ['gel', 'blue'], 'size': {'h': 19, 'w': 22.85, 'uom': 'in'}, 'LatestModified': datetime.datetime(2023, 2, 2, 12, 22, 17, 485000), 'status': 'BB'}
{'item': 'journal', 'qty': 25, 'size': {'h': 14, 'w': 21, 'uom': 'in'}, 'status': 'P', 'LatestModified': datetime.datetime(2023, 2, 2, 12, 20, 8, 560000)}
{'item': 'notebook', 'qty': 50, 'size': {'h': 8.5, 'w': 11, 'uom': 'in'}, 'status': 'A'}
{'item': 'paper', 'instock': [{'warehouse': 'B', 'qty': 35}]}
{'item': 'planner', 'qty': 75, 'size': {'h': 22.85, 'w': 30, 'uom': 'in'}, 'status': 'BB', 'latestmodification': datetime.datetime(2023, 2, 1, 14, 19, 50, 114000), 'LatestModified': datetime.datetime(2023, 2, 2, 12, 21, 9, 158000)}
{'item': 'postcard', 'qty': 45, 'size': {'h': 10, 'w': 15.25, 'uom': 'in'}, 'status': 'P', 'LatestModified': datetime.datetime(2023, 2, 2, 12, 20, 8, 560000)}

In [33]:
totscore=sc.aggregate(
				[
                    {'$group':{'_id':'$user','total':{'$sum':'$score'}}
         
                    }
                ]
)

In [35]:
for i in totscore:
    print(i)

In [66]:
avgscore= sc.aggregate([
    {"$group":{'_id':'$user','Avereage_marks':{"$avg":'$score'}}}
])

In [67]:
for i in avgscore:
    print(i)

{'_id': 'Amit', 'Avereage_marks': 78.33333333333333}
{'_id': 'Krish', 'Avereage_marks': 83.33333333333333}

In [68]:
for i in avgscore:
    print(type(avgscore))

In [62]:
import datetime as dt

In [43]:
### Create a new collection
data=[{ "_id" : 1, "item" : "abc", "price" : 10, "quantity" : 2, "date" : dt.datetime.utcnow()},
{ "_id" : 2, "item" : "jkl", "price" : 20, "quantity" : 1, "date" : dt.datetime.utcnow() },
{ "_id" : 3, "item" : "xyz", "price" : 5, "quantity" : 5, "date" : dt.datetime.utcnow() },
{ "_id" : 4, "item" : "abc", "price" : 10, "quantity" : 10, "date" : dt.datetime.utcnow() },
{ "_id" : 5, "item" : "xyz", "price" : 5, "quantity" : 10, "date" :dt.datetime.utcnow() }]

In [45]:
client.list_database_names()

['Students',
 'admin',
 'config',
 'data',
 'databasee',
 'employee',
 'groceries',
 'local',
 'new',
 'student']

In [85]:
db=client['groceries']

In [86]:
db.data.insert_many(data)

In [89]:
db.list_collection_names()

['store', 'inventory', 'invemtory']

In [88]:
db.data.drop()

In [90]:
da=db.store

In [92]:
for i in da.find({},{'-id':0}):
    print(i)

{'_id': 1, 'item': 'abc', 'price': 10, 'quantity': 2, 'date': datetime.datetime(2023, 2, 3, 5, 43, 33, 208000)}
{'_id': 2, 'item': 'jkl', 'price': 20, 'quantity': 1, 'date': datetime.datetime(2023, 2, 3, 5, 43, 33, 208000)}
{'_id': 3, 'item': 'xyz', 'price': 5, 'quantity': 5, 'date': datetime.datetime(2023, 2, 3, 5, 43, 33, 208000)}
{'_id': 4, 'item': 'abc', 'price': 10, 'quantity': 10, 'date': datetime.datetime(2023, 2, 3, 5, 43, 33, 208000)}
{'_id': 5, 'item': 'xyz', 'price': 5, 'quantity': 10, 'date': datetime.datetime(2023, 2, 3, 5, 43, 33, 208000)}

In [82]:
db.data.rename("store",dropTarget = True)

{'ok': 1.0}

In [83]:
db.list_collection_names()

['store', 'inventory', 'invemtory']

In [101]:
# Finding the total average quantity price of the data

totavg= da.aggregate([
    {'$group':{'_id':'$item',
               'Total_Avg_Qty':{'$avg':{'$multiply':['$price','$quantity']}},
    			'Average_quantity':{'$avg':'$quantity'}}
    }
])
for i in totavg:
    print(i)

{'_id': 'jkl', 'Total_Avg_Qty': 20.0, 'Average_quantity': 1.0}
{'_id': 'xyz', 'Total_Avg_Qty': 37.5, 'Average_quantity': 7.5}
{'_id': 'abc', 'Total_Avg_Qty': 60.0, 'Average_quantity': 6.0}

In [102]:
#### $Project

data=[{
  "_id" : 1,
  "title": "abc123",
  "isbn": "0001122223334",
  "author": { "last": "zzz", "first": "aaa" },
  "copies": 5
},
{
  "_id" : 2,
  "title": "Baked Goods",
  "isbn": "9999999999999",
  "author": { "last": "xyz", "first": "abc", "middle": "" },
  "copies": 2
}
]

In [103]:
bo=db['Books']

In [109]:
db.list_collection_names()

['store', 'Books', 'inventory', 'invemtory']

In [104]:
bo.insert_many(data)

In [110]:
for i in bo.find({},{'_id':0}):
    print(i)

{'title': 'abc123', 'isbn': '0001122223334', 'author': {'last': 'zzz', 'first': 'aaa'}, 'copies': 5}
{'title': 'Baked Goods', 'isbn': '9999999999999', 'author': {'last': 'xyz', 'first': 'abc', 'middle': ''}, 'copies': 2}

In [114]:
pro= bo.aggregate([
    {'$project':{'title':1, 'copies':1,'_id':0}}
])

In [116]:
for i in pro:
    print(i)